@model WebApplication1.Models.ViewModels.QueryForm
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    <div class="col-md-8">
        <section id="editcourseform">
            @using (Html.BeginForm("Results", "Home", FormMethod.Get, new { @class = "form-horizontal", id = "editcourseform" }))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.Keyword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Keyword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Keyword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.UserAction, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserAction, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserAction, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Gauge, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Gauge, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Gauge, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Manufacturer, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Manufacturer, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Manufacturer, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>

                @Html.HiddenFor(m => m.Start)


            }
        </section>
        
    </div>
</div>